// Markdown文档样式
.prose {
  @apply mx-auto py-14 px-4 max-w-5xl flex flex-col gap-8 leading-10 tracking-wider;

  img {
    @apply w-full select-none cursor-default;
  }

  // 段落
  p {
    @apply text-lg leading-8;
  }

  // 标题
  h1 {
    @apply text-3xl font-bold mt-4 relative;
  }

  h2 {
    @apply text-2xl font-bold mt-3 -mb-2 relative;
  }

  h3 {
    @apply text-xl font-bold mt-3 -mb-3;
  }

  h4 {
    @apply text-lg font-bold mt-1;
  }

  h5 {
    @apply text-lg font-bold mt-1;
  }

  h6 {
    @apply text-base font-bold mt-1;
  }

  // 标题段落文字居中 follow 22~23样式
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply text-center;
  }

  // 列表
  ul {
    @apply list-disc pl-6;
  }

  ol {
    @apply list-decimal pl-6;
  }

  li {
    @apply my-1;
  }

  blockquote {
    @apply border-l-4 border-brand pl-4 italic bg-gray-200 py-4 rounded text-left;
  }

  a {
    @apply text-brand underline underline-offset-4 transition-colors;
  }

  table {
    @apply w-full border-collapse;
  }

  th,
  td {
    @apply border border-gray-300;
  }

  th {
    @apply bg-gray-100;
  }

  thead th {
    @apply bg-gray-200;
  }

  code {
    /* @apply px-1 bg-gray-100 rounded-l; */
    /* @apply p-4 bg-white; */
    @apply text-base p-1 bg-gray-300 rounded;
  }

  pre {
    @apply p-4 bg-gray-300 rounded;
  }

  pre code {
    @apply p-0 text-base  border-none;
  }

  pre:not(.shiki) {
    padding: 0;
  }

  .shiki {
    font-family: 'DM Mono', monospace;
    font-size: 1.2em;
    line-height: 1.6;
  }
}

/* 代码样式 */

// .shiki,
// .shiki span {
//   /* color: var(--shiki-light);
//   background: var(--shiki-light-bg); */
// }

// html.dark .shiki,
// html.dark .shiki span {
//   /* color: var(--shiki-dark);
//   background: var(--shiki-dark-bg); */
// }
